.pList{
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.pListItem{

  overflow: hidden;
  flex: 1;
  cursor: pointer;
}

.pListTitles h1{
  font-size: 17px;
  font-weight: 400;
}

.pListTitles h2{
  font-size: 14px;
  color: rgba(0, 0, 0, .5);
  font-weight: 300;
}

.pListItem img{
 height: 150px;
  width: 100%;
  object-fit: cover;
}

.pListTitles{
  gap: 15px;
}